<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<style type="text/css">
    .div1 {
      text-align: center;
      color: gray;
      background-color: rgb(8, 17, 32);
      height: 160px;
    }
</style>
<div class="div1" >
    <div class="w3-bar-item">navbar</div>
    <div class="w3-bar-item">now: {{ actual_time }}</div>
</div>
</body>
<body>
    <div class="w3-container">
        {% block content %}
         replace me
        {% endblock %}
    </div>
</body>
</html>
