{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
{% load static %}
<link rel="stylesheet" href="{% static 'services.css' %}">
<div class="container_services">
    {% load static %} <img class="services_bg" src="{% static "dentist-office.jpg" %}" alt="office img">
    {% load static %} <img class="endo" src="{% static "endo.jpg" %}" alt="endo img">
    {% load static %} <img class="dentadura" src="{% static "dentadura.jpg" %}" alt="prótese img">
    {% load static %} <img class="perio" src="{% static "periodontia.png" %}" alt="periodontics img">
    {% load static %} <img class="est" src="{% static "estética.png" %}" alt="estetica img">
    {% load static %} <img class="clar" src="{% static "clareamento.jpg" %}" alt="clareamento img">
    {% load static %} <img class="geral" src="{% static "geral.jpg" %}" alt="clínica geral img">
    <div class="endo_text">
      Especialista em Endodontia
    </div>
    <div class="dentadura_text">Especialista em Prótese Dentária</div>
    <div class="perio_text">Especialista em Periodontia</div>
    <div class="est_text">Especialista em Estética</div>
    <div class="clar_text">Especialita em Clareamento</div>
    <div class="geral_text">Clínica Geral</div>
</div>

{% endblock %}
