{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'calendar.css' %}"

<body>

<div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      {{mes}} {{ano}}<br>
    </li>
  </ul>
  </div>

  <ul class="weekdays">
    <li>Segunda</li>
    <li>Terça</li>
    <li>Quarta</li>
    <li>Quinta</li>
    <li>Sexta</li>
    <li>Sábado</li>
    <li>Domingo</li>
  </ul>

  <ul class="days">
    {% for subitem in a_lista %}
        {% if subitem == 0 %}
            <li> </li>
        {% elif subitem == hoje %}
            <li><a class="active" href="http://127.0.0.1:8000/Calendar/{{ links.0 }}/"><span class="active">{{hoje}}</span></a></li>
        {% else %}
            {% if subitem == 1 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.1 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 2 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.2 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 3 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.3 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 4 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.4 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 5 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.5 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 6 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.6 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 7 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.7 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 8 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.8 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 9 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.9 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 10 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.10 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 11 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.11 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 12 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.12 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 13 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.13 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 14 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.14 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 15 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.15 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 16 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.16 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 17 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.17 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 18 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.18 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 19 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.19 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 20 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.20 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 21 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.21 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 22 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.22 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 23 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.23 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 24 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.24 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 25 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.25 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 26 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.26 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 27 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.27 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 28 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.28 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 29 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.29 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 30 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.30 }}/"><span>{{subitem}}</span></a></li>
            {% elif subitem == 31 %}
                <li><a class="notactive" href="http://127.0.0.1:8000/Calendar/{{ links.0 }}/"><span>{{subitem}}</span></a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
  </ul>

</body>

{% endblock %}
