{% extends "base.html" %}

{% block content %}

<style type="text/css">
  * {box-sizing: border-box;}
  ul {list-style-type: none;}
  body {font-family: Verdana, sans-serif;}

  .month {
    padding: 70px 25px;
    width: 100%;
    background-color: #04AA6D;
    text-align: center;
  }

  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .month .prev {
    float: left;
    padding-top: 10px;
  }

  .month .next {
    float: right;
    padding-top: 10px;
  }

  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: rgb(8, 17, 32);
  }

  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 20px;
  }

  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    color: #777;
  }

  .days li .active {
    padding: 5px;
    background-color: #04AA6D;
    color: white;
  }
  .today {
    background-color: #04AA6D;
  }
  .days li .notactive:hover {
    padding: 5px;
    background-color: #04AA6D;
    color: white;
  }

/* Add media queries for smaller screens */
@media only screen and (max-width:1360px){
	.month {
    padding: 25px 25px;
    width: 100%;
    background-color: #04AA6D;
    text-align: center;
    }
    .days {
    padding: 3px 0;
    background: #eee;
    margin: 0;
   }
}

@media screen and (max-width:720px) {
.weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
.weekdays li, .days li {width: 12.5%;}
.days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
.weekdays li, .days li {width: 12.2%;}
}
</style>

<body>

<div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      {{mes}} {{ano}}<br>
    </li>
  </ul>
  </div>

  <ul class="weekdays">
    <li>Segunda</li>
    <li>Terça</li>
    <li>Quarta</li>
    <li>Quinta</li>
    <li>Sexta</li>
    <li>Sábado</li>
    <li>Domingo</li>
  </ul>

  <ul class="days">
    {% for subitem in a_lista %}
        {% if subitem == 0 %}
            <li> </li>
        {% elif subitem == hoje %}
            <li><span class="active">{{hoje}}</span></li>
        {% else %}
            <li><span class="notactive">{{subitem}}</span></li>
        {% endif %}
    {% endfor %}
  </ul>

</body>

{% endblock %}
