{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'marcar.css' %}">

<p class="dia">dia : {{ links }}</p>
<body>
<div class="V1">
    <li>13:30: <a class="H1" href="#">Rafael&nbsp;Furlan</a><a class="H1d" href="#">detalhes</a></li>
    <li>14:00: <a class="H2" href="#"> </a><a class="H2d" href="#">livre</a></li>
    <li>14:30: <a class="H3" href="#"> </a><a class="H3d" href="#">livre</a></li>
    <li>15:00: <a class="H4" href="#">Emergência</a><a class="H4d" href="#">livre</a></li>
    <li>15:30: <a class="H5" href="#"> </a><a class="H5d" href="#">livre</a></li>
    <li>16:00: <a class="H6" href="#"> </a><a class="H6d" href="#">livre</a></li>
    <li>16:30: <a class="H7" href="#"> </a><a class="H7d" href="#">livre</a></li>
    <li>17:00: <a class="H8" href="#"> </a><a class="H8d" href="#">livre</a></li>
</div>
<hr class="L1">
<hr class="L2">
<hr class="L3">
<hr class="L4">
<hr class="L5">
<hr class="L6">
<hr class="L7">
<hr class="L8">
<hr class="L9">
<div class="V2">
    <li>7:30: <a class="H1">Reservado</a></li>
    <li>8:00: <a class="H2">Reservado</a></li>
    <li>8:30: <a class="H3">Reservado</a></li>
    <li>9:00: <a class="H4">Emergência</a></li>
    <li>9:30: <a class="H5">Reservado</a></li>
    <li>10:00: <a class="H6">Reservado</a></li>
    <li>10:30: <a class="H7">Reservado</a></li>
    <li>11:00: <a class="H8">Reservado</a></li>
</div>
<div class="V3"></div>
<p class="Obs">Clique em "livre" para marcar</p>
<p class="Obs2">e em detalhes para atualizar dados</p>
</body>

{% endblock %}
