.services_bg {
  width: 100%;
  height: auto;
}
.endo {
  position: absolute;
  top: 30%;
  left : 5%;
  width: 300px;
  height: auto;
}
.endo_text {
  position: absolute;
  top: 40%;
  left: 25%;
  font-family: "Trirong", serif;
  font-size: 22px;
  font-weight: bold;
}
.dentadura {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 300px;
  height: auto;
}
.dentadura_text {
  position: absolute;
  font-family: "Trirong", serif;
  font-size: 22px;
  font-weight: bold;
  top: 40%;
  right: 7%;
}
.perio {
  position: absolute;
  top: 75%;
  left: 5%;
  width: 300px;
  height: 250px;
}
.perio_text {
  position: absolute;
  top: 80%;
  left: 25%;
  font-family: "Trirong", serif;
  font-size: 22px;
  font-weight: bold;
}
.est {
  position: absolute;
  left: 50%;
  top: 75%;
  width: 350px;
  height: auto;
}
.est_text {
  position: absolute;
  top: 80%;
  right: 7%;
  font-family: "Trirong", serif;
  font-size: 22px;
  font-weight: bold;
}
.clar {
  position: absolute;
  top: 115%;
  left: 5%;
  width: 300px;
  height: auto;
}
.clar_text {
  position: absolute;
  top: 130%;
  left: 25%;
  font-family: "Trirong", serif;
  font-size: 22px;
  font-weight: bold;
}
.geral {
  position: absolute;
  top: 115%;
  left: 50%;
  width: 300px;
  height: auto;
}
.geral_text {
  position: absolute;
  top: 115%;
  right: 17%;
  font-family: "Trirong", serif;
  font-size: 22px;
  font-weight: bold;
}
